<div class="login-status-header">
  @if (isAuthenticated && userFullName) {
    <div class="login-status-user-info">
      Welcome Back {{ userFullName }}
    </div>
  }

  @if (!isAuthenticated) {
    <button routerLink="/login" class="security-btn">
      Login
    </button>
  } @else {
    <button (click)="logout()" class="security-btn">
      Logout
    </button>
    <button routerLink="/members" class="security-btn ml-1">
      Member
    </button>
    <button routerLink="/order-history" class="security-btn ml-1">
      Orders
    </button>
  }
</div>
