<div class="page-wrapper">
  <!-- menu sidebar -->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo.png" alt="luv2shop" class="image-responsive">
      </a>
    </div>
    <app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- page container -->
  <div class="page-container">
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <app-search></app-search>

            <app-login-status></app-login-status>

            <app-cart-status></app-cart-status>

          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- main content -->
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <ul>
    <li><a href="#">about us</a></li>
    <li><a href="#">contact us</a></li>
    <li><a href="#">help</a></li>
  </ul>
</footer>
